.city-select {
  position: relative;
  height: 36px;
  min-width: 160px;
  max-width: 200px;
}

/* INPUT */
.city-input {
  width: 100%;
  height: 36px;

  padding: 0 32px 0 12px;

  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;

  font-size: 14px;
  cursor: pointer;
}

.city-input:focus {
  outline: none;
  border-color: #ff6a00;
  box-shadow: 0 0 0 2px rgba(255, 106, 0, 0.15);
}

/* ARROW */
.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}
.desc{
   min-height: 100px;
}
/* DROPDOWN */
.city-dropdown {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;

  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;

  max-height: 220px;
  overflow-y: auto;

  z-index: 9999;

  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.city-option {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.city-option:hover {
  background: #fff3e6;
  color: #ff6a00;
}
