#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;        /* ⬅️ ВОТ ОН */
}
.scroll-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 999;

  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: none;

  background: white;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  cursor: pointer;
}

.scroll-top:hover {
  transform: translateY(-3px);
}

.scroll-top:active {
  transform: scale(0.95);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
