.scroll-top {
  position: fixed !important;
  right: 50px !important;
  bottom: 50px !important;

  width: 80px !important;
  height: 80px !important;

  background: red !important;
  color: white !important;

  border: 5px solid black !important;
  z-index: 999999 !important;
}
.scroll-top:hover {
  transform: translateY(-3px);
}

.scroll-top:active {
  transform: scale(0.95);
}