.scroll-top {
  position: fixed;
  right: 24px;
  bottom: 24px;

  width: 46px;
  height: 46px;
  border-radius: 50%;

  border: none;
  background: rgb(19, 25, 29);

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  z-index: 9999;
}

.scroll-top:hover {
  transform: translateY(-3px);
}

.scroll-top:active {
  transform: scale(0.95);
}